@model WheelchairTips.Models.Category

@{
    ViewData["Title"] = "Delete Category";
    Layout = "_LayoutDashboard";
}

<h2>@ViewData["Title"]</h2>

<h4>Are you sure you want to delete this?</h4>
<div>
    <p>@Html.DisplayFor(model => model.Name)</p>
    @*<hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>*@
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    </form>
</div>
