@await Html.PartialAsync("_MasterHeader")
<body>
    <nav class="head">
        <div class="nav-wrapper container">
            <a href="/Home" class="brand-logo"><i class="material-icons">accessible</i><i class="material-icons">accessibility</i>WheelchairTips.com</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a asp-area="" asp-controller="Tips" asp-action="Index">Tips</a></li>
                @await Html.PartialAsync("_LoginPartial")
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        console.log("init wheelchair tips");

        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
</body>
</html>