@model WheelchairTips.Models.ViewModels.TipsCategoriesViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "_CustomLayout";
}

<div id="master-wrap">
    <h1>Here are some handy tips. [@ViewData["foo"]]</h1>
    
    <form asp-controller="Home" asp-action="Index" method="post">
        <select asp-for="Category" asp-items='@(new SelectList(Model.Categories, "Id", "Name"))'></select>
        <br /><button type="submit">Filter</button>
    </form>

    <div class="tips">
        @foreach (var item in Model.Tips)
        {
            <div class="tip">
                <p>
                    @Html.DisplayFor(modelItem => item.Title)
                </p>

                <a asp-controller="Tips" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </div>
        }
    </div>
</div>