body {
  font-family: 'Lato', sans-serif; }

#logoutForm {
  display: inline; }

nav.head button {
  border: 0;
  background-color: transparent;
  font-size: 16px;
  color: #26a69a;
  line-height: 22px;
  padding: 14px 16px; }

.brand-logo i {
  font-size: 40px !important; }

h1 {
  font-size: 40px;
  font-weight: 400; }

.category-filter > p {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 900; }

main {
  padding-left: 300px; }

.admin .side-nav {
  margin-top: 64px; }

@media only screen and (min-width: 993px) {
  .admin .container.content {
    width: 85%; } }

.dropdown-content a:hover {
  background-color: transparent !important; }

nav .dropdown-button {
  min-width: 170px; }
