body {
    font-family: 'Lato', sans-serif;
}

#logoutForm {
    display: inline;
}

nav.head {

    button {
        border: 0;
        background-color: transparent;
        font-size: 16px;
        color: rgb(38, 166, 154);
        line-height: 22px;
        padding: 14px 16px;
    }

}

.brand-logo i {
    font-size: 40px !important;
    
}

h1 {
    font-size: 40px;
    font-weight: 400;
}

.category-filter {
    > p {
        margin-right: 10px;
        font-size: 18px;
        font-weight: 900;
    }

}

main {
    padding-left: 300px;
}


.admin {
    .side-nav {
        margin-top: 64px;
    }

    .container.content {
        @media only screen and (min-width: 993px) {
            width: 85%;
        }

    }
}