#logoutForm {
  display: inline; }

nav.head button {
  border: 0;
  background-color: transparent;
  font-size: 16px;
  color: #26a69a;
  line-height: 22px;
  padding: 14px 16px; }

.brand-logo i {
  font-size: 40px !important; }
