@model IEnumerable<MvcMovie.Models.Tip>

@{
    ViewData["Title"] = "Home Page";
    Layout = "_CustomLayout";
}

<h1>Wheelchair tips</h1>

<div class="tips">
    @foreach (var item in Model) {
        <div class="tip">
    		<p>
                @Html.DisplayFor(modelItem => item.Title)
    		</p>

                <a asp-controller="Tips" asp-action="Details" asp-route-id="@item.ID">Details</a>
        </div>
    }
</div>