@model WheelchairTips.Models.Tip

@{
    Layout = "_LayoutDashboard";
    ViewData["Title"] = "Create Tip";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Title"></label>
    <input asp-for="Title" />
    <span asp-validation-for="Title" class="text-danger"></span>

    <label asp-for="Content"></label>
    <input asp-for="Content" />
    <span asp-validation-for="Content" class="text-danger"></span>

    <div class="image-upload">
        <label asp-for="ImageName"></label>
        <input type="file" name="files" multiple />
    </div>

    <label asp-for="CategoryId"></label>
    <select asp-for="CategoryId" asp-items="ViewBag.CategoryId"></select>

    <input type="submit" value="Create" class="btn crud" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}