@model WheelchairTips.Models.Tip

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Title</h2>

<img src="~/uploads/img/@Model.ImageName" asp-append-version="true" />
<p><b>Category:</b> @Model.Category.Name</p>
<p><b>Author:</b> @Model.ApplicationUser.Email</p>
<p>@Model.Content</p>