@model WheelchairTips.Models.ViewModels.TipsCategoriesViewModel2

@{
    ViewData["Title"] = "Tips";
}

<h3>We have found <b>@Model.TipCards.Count</b> tips.</h3>

@await Html.PartialAsync("_FilterAndSearchTipsOverview")