@model IEnumerable<WheelchairTips.Models.Category>

@{
    ViewData["Title"] = "Home Page";
    Layout = "_CustomLayout";
}

<div id="master-wrap">
    <h1>Our tips per category.</h1>

    <div class="tips">
        @foreach (var item in Model.First().Tips)
        {
            <div class="tip">
                <p>
                    @Html.DisplayFor(modelItem => item.Title)
                </p>

                <a asp-controller="Tips" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </div>
        }
    </div>
</div>
